<div class="pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <h4 class="text-white">Collapsed content</h4>
      <span class="text-muted">Toggleable via the navbar brand.</span>
    </div>
  </div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">


      <div class="container">
        
        <div class="row">
          <div class="col-3">
            <a style="color: #419fce;" class="nav-link active" aria-current="page" href="/formulario">
              <button type="button" class="btn btn-primary-outline" style="margin-left: 5%;">
                <img type="button" alt="logo navbar" style="width: 35px;"  src="../../assets/img/588a64e7d06f6719692a2d11.png">
              </button></a>
            
          </div>
          
          <div class="col-3">
            <img type="button" alt="logo navbar" style="margin-left: 100%;" src="../../assets/img/empresa-baz.png">
          </div>
      
        
          <div class="col-3">
            <img type="button" alt="logo navbar" style="margin-left: 280%;" width="70%" src="../../assets/img/147144.png">
          </div>
         
        </div>
      </div>

  </nav>
</div>